{{#partial "contenido"}}
<h1>Admin</h1>

<input type="submmit" value="Agregar"></input>
<label for="comuna">Comuna</label>
<input type="number" placeholder="Comuna" name="comuna">
<table class="table table-stripped">
	<tr>
		<th>Frase Buscada</th>
		<th>Resultados</th>
		<th>Duracion</th>
		<th>Fecha</th>
		<th>Tiempo estimado</th>
		<th>Terminal</th>
		<th></th>
	</tr>
	
	{{#each terminales}}
		<tr>
			<td>{{fraseBuscada}}</td>
			<td>{{cantidadDeResultados}}</td>
			<td>{{duracionBusqueda}}</td>
			<td>{{momentoDeBusqueda}}</td>
			<td>{{tiempoEstimadoBusqueda}}</td>
			<td>{{terminalId}}</td>
			<td><a href={{url}}>Ver POIs</a></td>
			
		</tr>
	{{/each}}
</table>
{{/partial}}
{{>layout.hbs}}