{{#partial "contenido"}}
<h1>Admin</h1>

<form action="/admin/pois/buscar" method="POST">
<label for="nombre">Nombre</label>
<input type="text" placeholder="Nombre" name="nombreBuscado">
<label for="tipo">Tipo</label>
<input type="text" placeholder="Tipo" name="tipoBuscado">
<input type="submit" name="buscar" value="Buscar">
</form>
<table class="table table-stripped">
	<tr>
		<th>Nombre</th>
		<th>Direccion</th>
		<th>Coordenadas</th>
		<th></th>
		<th></th>
	</tr>
	
	{{#each pois}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{direccion}}</td>
			<td>X: {{coordenadaX}} - Y: {{coordenadadY}}</td>
			<td><a href="/admin/pois/modificar{{url}}"">Modificar</a><td>
			<td><a href="/admin/pois/eliminar{{url}}" method="POST">Eliminar<td> 
			
		</tr>
	{{/each}}
</table>
{{/partial}}
{{>layout.hbs}}